# Chezmoi configuration
# This template is processed during `chezmoi init`

{{ $email := promptStringOnce . "email" "Git email address" -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    hostname = {{ .chezmoi.hostname | quote }}
    username = "addg"
    email = {{ $email | quote }}

[onepassword]
    prompt = false

[edit]
    command = "code"
    args = ["--wait"]
